
 



div classbanner_mobile-apps styleheight: 143px; 


map namebanner idbanner…map 


img src/media/uploads/bannersettings/2018/10/25/6ee43182ea0e4ec49003727cffdcdc36.jpg usemap#banner 


div 


span classicospan 


div 


div 


div 


div classoverlaydiv 


div idpopup-regiondiv 


div idtier-2-popup-regiondiv 


script src/static/personal_area/js/vendor/backbone.marionette.js typetext/javascriptscript 


script idschool-tab typetext/template<div class="top clearfix"> …script 


script idschool-template typetext/template<span class="line"></span> …script 


script idemployees-group typetext/template<div class="clearfix cursor_po…script 


script idemployee-cell typetext/template<% if (!photo) { %> <i…script 


script idclassyear typetext/template<span class="line"></span> …script 


script idpupil-cell typetext/template<% if (!photo) { %> <i…script 


script idempty-cell typetext/templatescript 


script idheader-widget-template typetext/template<span class="logo"><a href="/p…script 


script idtoday-template typetext/template<div class="day"><%= day %></d…script 


script idprofile-header-template typetext/template<div class="menu-item profile"…script 


script idindicator-template typetext/template<div class="gpa"> <div…script 


script idindicator-item-template typetext/template<span><%= name %></span><span …script 


script iddiary-main-template typetext/template<div class="top clearfix"> …script 


script idweek-template typetext/template<div class="content"> …script 


script idweekday-template typetext/template<div class="weekday_header cur…script 


script idlesson-row-template typetext/template<td><%= studyTime %><br/><%= i…script 


script idmark-comment-template typetext/template<div class="hack"> <span t…script 


script idlesson-info-template typetext/template<div class="title"> <p…script 


script idcreations-template typetext/template<span class="line"></span> …script 


script idcreation-template typetext/template<% if (document_url) { %> …script 


script idcreation-add-template typetext/template<h6>Добавление работы</h6> …script 


script idevent-item-template typetext/template<td> <span class="color-li…script 


script idevents-template typetext/template<thead> <tr> <th> …script 


script idevents-empty-template typetext/template<thead> <tr> <th> …script 


script idachievement-item-template typetext/template<td><%= $.datepicker.formatDat…script 


DOCTYPE html 


html 


head…head 


body 


div classpage…div 


div classfooter 


div classright 


div aligncenter classbanners opened 




html

body

div.footer

div.right

div.banners

div.banner_mobile-apps





