Стили
Вычисленные
События
Точки останова DOM
Шрифты
Специальные возможности
Изменения



Встроенный стиль{



height
:

143px;
} 


main-sty...e703.css (4221)
.banners > div{



overflow
:

hidden;



height
:

4px;



border-top
:



1px solid #b6b6b6;



background
:



#f1f1f1;
} 


main-sty...e703.css (4248)
.banner_mobile-apps{



border-top
:



3px solid #cfcfcf;
} 


main-sty...e703.css (2)
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, i, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td{



font-size
:

100%;



margin
:


0;



padding
:


0;



vertical-align
:

baseline;



border
:


0;



outline
:


0;



background
:


transparent;
} 
Унаследовано от body


theme-st...f531.css (1)
body{



color
:


#353535;
} 


main-sty...e703.css (286)
body{



color
:


#58595b;
} 


main-sty...e703.css (43)
body{



font-size
:

1.4em;



line-height
:

normal;
} 


main-sty...e703.css (6)
body{



line-height
:

1;
} 
Унаследовано от html


main-sty...e703.css (36)
html{



font-family
:

arial,helvetica,tahoma,sans-serif;



font-size
:

62.5%;
} 
